<form class="select-profile-form">
    <div>
        <mat-form-field class="new-profile-input" appearance="fill">
            <mat-label>New Profile</mat-label>
            <input matInput placeholder="Name" type="text" name="newProfile" [(ngModel)]="newProfile">
        </mat-form-field>
        <button mat-raised-button [disabled]="newProfile == ''" (click)="done(newProfile)">Add Profile</button>
    </div>


    <div *ngIf="profiles.length != 0">
        <mat-button-toggle-group vertical="true" name="selectedProfile" [(ngModel)]="selectedProfile">
            <mat-button-toggle *ngFor="let profile of profiles; first as isFirst" 
                    [value]="profile" 
                    [checked]="isFirst">
                {{profile}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div *ngIf="profiles.length == 0">
        No profiles to display, enter a new profile.
    </div>
    <div>
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button [disabled]="profiles.length == 0" (click)="done(selectedProfile)">Done</button>
    </div>
</form>