<mat-toolbar color="primary">
    <span>Pathfinder Session Tracker</span>
</mat-toolbar>
<div *ngIf="profiles.length != 0">
    <h1>{{currentProfile}}</h1>
    <div *ngIf="sessionsByProfile.length != 0">{{sessionsByProfile.length}} Sessions
        <div>Last Session {{sinceLastSession}}</div>
    </div>
    
    <div *ngIf="sessionsByProfile.length == 0">No sessions</div>
</div> 
<div *ngIf="profiles.length == 0">
    <h1>Add a profile to begin.</h1>
</div>
<div><button mat-raised-button [disabled]="profiles.length == 0" routerLink="/session">Start Session</button></div>
<div><button mat-raised-button routerLink="/stats">View Stats</button></div>
<div><button mat-raised-button (click)="openProfileSelect()">{{changeProfileButtonText}}</button></div>